@model KuaforApp.Contexts.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="alert alert-danger"><i class="fas fa-exclamation-circle" style="margin-right:5px"></i>Silmek istediğinizden emin misiniz?</div>
<div class="text-white">
    
    <hr style="border-bottom:0.5px solid white"/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit"  class="btn btn-danger" ><i class="fas fa-trash-alt" style="margin-right:5px"></i>Sil</button> |
        <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-alt-circle-left" style="margin-right:5px"></i>Listeye Geri Dön</a>
    </form>
</div>
